{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Delete your comment </h3>
            </div>
        </div>
    </div>
{% endblock %}