{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Edit your comment </h3>
                {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
            </div>
        </div>
    </div>
{% endblock %}